/* RESET */

p{
  margin: 0px;
}

/* APP */

.App {
  font-family: sans-serif;
  text-align: center;
}

.onboarding {
  width: 60vw;
  height: 50vh;
  margin: auto ;
  margin-top: 20vh;

  display: flex;
}

.search__container {
  width: 50%;
  

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search__inner {
  max-width: 350px;
}

.next-btn {
  width: 100%;
  
  background-color: #a9b7d1;
  outline: none;
  border: none;
  padding: 10px 0px;

  border-radius: 2px;
  color: white;

  margin-top: 10px;
}
/* *************** PRODUCTS_SELECTED ***************  */

.products__container {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 10%;

  padding: 0px 20px;
}

.product {

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0px 0px 10px gray;

  border-radius: 10px;
}

.product__placeholder {
  height: 50px;
  width: 50px;
  background: #f9f9f9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product__placeholder-img {
  height: 15px;
}

/* *************** DROPDOWN ***************  */

.search{
  margin-top: 40px;
  position: relative;
}

.search__dropdown {
  position: absolute;
  background-color: white;

  width: 100%;

  top: 45px;

  box-shadow: 0px 0px 10px gray;
  border-radius: 5px;

  padding: 10px;
}

.search__input-container {
  width: 100%;
  height: 35px;
  position: relative;
}

.search__input-logo {
  position: absolute;
  height: 15px;
  left: 10px;
  top: 10px;
}

.search__input {
  width: 100%;
  padding: 10px 30px;

  max-height: 35px;
  box-sizing: border-box;
  background-color: #eef2f6;
}

.dropdown-row {
  height: 30px;
  width: 100%;

  display: flex;
  justify-content: left;
  align-items: center;

  padding: 5px 5px;
  gap: 15px;
}

.dropdown-row__img {
  height: 20px;
}


/*  Common  */

.fbca{
  display: flex;
  justify-content: center;
  align-items: center;
}

button, input {
  outline: none;
  border: none;
}