/* RESET */

p{
  margin: 0px;
}

/* APP */

.App {
  font-family: sans-serif;
  text-align: center;
}

.onboarding {
  width: 80vw;
  height: 60vh;
  margin: auto ;
  margin-top: 20vh;

  display: flex;
}

.search__container {
  width: 50%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* *************** PRODUCTS_SELECTED ***************  */

.products__container {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 10%;

  padding: 0px 20px;
}

.product {

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0px 0px 10px gray;
}

.product__placeholder {
  height: 15px;
}

.product__placeholder::after {
  content: '';

  height: 25%;
  width: 25%;

  background-color: beige;
}

/* *************** DROPDOWN ***************  */


.search__dropdown {
  width: 150px;
}

.dropdown-row {
  height: 30px;
  width: 100%;

  display: flex;
  justify-content: left;
  align-items: center;

  padding: 5px 5px;
  gap: 15px;
}

.dropdown-row__img {
  height: 20px;
}


